



body {
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

.container {
    /* display: inline-block; */
    /* text-align: center;
    margin: 0 auto; */
    width:960px;
    margin: 0 auto;
}

.myHeader, .myNav {
    color: #777;
    background: #ebebeb;
    height: 50px;
    margin-bottom: 10px;
    padding: 30px 0 0 0;
}

section {
    background-color: #ebebeb;
    width: 464px;
    float: left;
    height: 210px;
    padding: 10px;
    margin-bottom: 10px;
}

aside {
    background: #ebebeb;
    width: 464px;
    height: 200px;
    float: right;
    padding: 30px 0 0 0;
    margin-left: 1%;
    margin-bottom: 10px;
}

article {
    background: #777;
    color: #ebebeb;
    padding: 10 0;
    border:1%;
    width: 100%;
    left: 10px;
    height: 75%;
}
.britt {
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    margin: 10px;
}

footer {
    color: #777;
    background-color: #ebebeb;
    bottom: 0px;
    width: 100%;
    clear: both;
    height: 50px;
    padding: 30px 0 0 0;
    margin-top: 10px;
}


